.dark-theme {
    --White: #0A0A0C;
    --Input: #324055;
    --Body-Text: #FFFFFF;
    --Note: #95989D;
    --Stroke: #283548;
    --bg-table: #28354852;
    --bg-table-1: #28354852;
    --hv-item: #ffffff24;

    --Main-Dark: #FFFFFF;

    background: #272727;

    .bg-dark-1 {
        background-color: #30303080 !important;
    }


    .text-tiny,
    .text-grey {
        color: var(--Surface) !important;
    }

    .multi-select {
        background: rgba(48, 48, 48, 0.5019607843);

        .toggle-dropdown .icon {
            color: #fff;
        }
    }

    .input-has-pre svg {
        path {
            fill: #fff;
        }
    }

    .offcanvas-header,
    .offcanvas-body form>fieldset {
        border-color: #FFFFFF4D;

        .text-tiny {
            color: #fff !important;
        }
    }

    .widget-tabs .widget-menu-tab.style-1 {
        background-color: #30303080;

        .item-title {
            .body-title {
                color: #fff;
            }

            &.active {
                .body-title {
                    color: var(--Secondary);
                }
            }
        }
    }

    .tab-reviews .rating-score .line-bg {
        background-color: #F6F6F6;

        div {
            background-color: var(--Main);
        }
    }

    .tf-check::before {
        color: #fff;
    }

    .widget-tabs.style-menu-tab .widget-content-inner {
        border-color: #FFFFFF4D;

        .text {
            color: #C3C1CF !important;
        }
    }

    .tf-countdown .countdown__item {
        background-color: #30303080;

        .countdown__label {
            color: #C3C1CF;
        }
    }

    .tf-product-info-list {

        .tf-product-info-sku .text,
        .tf-product-process-wrap .text,
        .desc .text,
        .tf-product-info-price .compare-at-price,
        .reviews {
            color: #C3C1CF !important;
        }

        .viewing svg path {
            fill: #fff;
        }

        .tf-product-extra-icon {
            .text {
                color: #C3C1CF !important;
            }

            svg path {
                fill: #fff;
            }
        }
    }

    .view-all {
        color: #fff;
    }

    .dropdown.default.style-box>.dropdown-toggle>* {
        background-color: #30303080;
        border: 1px solid #FFFFFF4D;
    }

    .wg-product{
        .price {
            color: #fff !important;
        }
        .text-info{
            color: #fff !important;
        }
    } 

    .wrap-usa-vectormap,
    .wrap-usa-vectormap-2 {
        background: #30303080;

        #usa-vectormap2,
        #usa-vectormap {

            .jvectormap-container svg,
            .jvectormap-container {
                background: #1d1d1e !important;
            }
        }
    }

    .block-legend .dot {
        &.t6 {
            background-color: #FF7433;
        }
    }

    .has-divider-line {
        >* {
            border-color: rgba(255, 255, 255, 0.1) !important;
        }
    }

    .button-dark-light {
        i {
            &::before {
                content: '\ea00';
            }
        }
    }

    .wg-filter {
        .show {
            .text-tiny {
                color: #fff !important;
            }
        }
    }

    .wg-table {
        ul.table-title {
            background-color: transparent;
            border-color: rgb(237 241 245 / 10%);
        }

        --Surface-3: #30303080;
    }

    .select {
        &::after {
            color: #fff;
        }

        select {
            background-color: #30303080;
            color: #fff;
        }
    }

    .upload-image {
        .up-load {
            background-color: #1d1d1e;

            .text-tiny {
                color: #fff !important;
            }
        }
    }

    .radio-buttons .item {
        label {
            background-color: #F6F6F6;

            .body-title-2 {
                color: #545454;
            }
        }

        input:checked~label * {
            color: #FFFFFF;
        }
    }

    .form-search {
        input {
            background: #30303080;
            color: var(--Surface);

            &::placeholder {
                color: var(--Surface);
            }
        }

        .button-submit {
            button {
                color: var(--Surface);
            }
        }
    }

    form {

        textarea,
        input {
            background: #30303080;
            color: var(--Surface);

            &::placeholder {
                color: var(--Surface);
            }
        }
    }

    .header-dashboard {
        .wrap {
            .header-item {
                background: #CBD5E11A;

                &.country {
                    .image-select .dropdown-toggle {
                        background: #CBD5E11A;
                    }
                }
            }

            .box-content-search {
                box-shadow: 0px 4px 24px 2px #141926CC !important;
            }

            .header-left .button-show-hide {
                background-color: rgba(255, 255, 255, 0.0588235294);

                i {
                    color: #fff;
                }

                &:hover i {
                    color: var(--Secondary);
                }
            }
        }
    }

    .divider {
        background: rgba(255, 255, 255, 0.1) !important;
    }

    .setting i {
        color: var(--Main-Dark);
    }

    .section-content-right {
        .main-content {
            background: #272727;
        }

        .bottom-page {
            .body-text {
                color: var(--Surface) !important;
            }
        }
    }

    .wg-pagination {
        li {
            a {
                border-color: #fff;
                color: #fff;
                background-color: #30303080;
            }

            &:last-child,
            &:first-child {
                a {
                    background-color: transparent;
                    border-color: #545454;
                }
            }

            &:hover,
            &.active {
                a {
                    background: var(--Secondary);
                    border-color: var(--Secondary);
                }

                i {
                    color: #fff;
                }
            }
        }
    }

    .product-item {
        .image {
            background: transparent;
        }

        svg {
            path {
                stroke: #fff;
            }
        }
    }

    .block-pending,
    .block-available {
        background: #F6F6F6;
    }

    .block-not-available {
        background: #fff;
    }

    .block-tracking {
        background: #fff;
    }

    .section-menu-left {
        background-color: #1E293B;
        border-color: #FFFFFF0F;

        .menu-item {
            a {

                .icon {
                    i {
                        color: var(--Surface);
                    }

                    svg {
                        path {
                            fill: var(--Surface);
                        }
                    }
                }

                .text {
                    color: var(--Surface);
                }
            }

            &:not(.has-children).active {
                background-color: #30303080;

                a {

                    .icon {
                        svg {
                            path {
                                fill: var(--Secondary);
                            }
                        }
                    }
                }
            }

            &.has-children {
                &.active {
                    >a {
                        background: rgba(48, 48, 48, 0.5);
                    }
                }

                &::after {
                    color: var(--Surface) !important;
                }

                .sub-menu {
                    a {
                        .text {
                            color: var(--Surface);
                        }

                        &::before {
                            border-color: var(--Surface);
                        }
                    }
                }

                .sub-menu-item.active {
                    // background-color: #30303080 !important;
                }
            }
        }

        .button-show-hide {
            background-color: #FFFFFF0F;
            color: #fff;
        }
    }

    .apexcharts-tooltip {
        background: #111111 !important;
        border: 0 !important;
        color: #fff !important;

        .apexcharts-tooltip-title {
            border-color: rgba(255, 255, 255, 0.1);
        }
    }

    #morris-donut-1 {
        svg {
            text {
                tspan {
                    fill: #fff;
                }
            }
        }
    }

    .dropdown-menu {
        box-shadow: 0px 4px 24px 2px #141926CC !important;
    }

    .popup-wrap.apps {
        svg path {
            fill: #fff;
        }

        .dropdown-menu.show .list-apps .item {
            border-color: #283548;
        }
    }

    .apexcharts-grid {
        .apexcharts-gridlines-horizontal {
            line {
                stroke: #475569 !important;
            }
        }
    }

    .apexcharts-grid-borders {
        line {
            stroke: rgba(71, 85, 105, 1) !important;
        }
    }

    #line-chart-22 {
        .apexcharts-tooltip .apexcharts-tooltip-title {
            background-color: transparent !important;
            border: 0;
        }
    }

    .tf-button {


        &.style-1 {
            border: 1px solid var(--Secondary);

            &:hover {
                background-color: var(--Secondary);
                color: #fff;
            }
        }

        &.style-3 {
            border: 1px solid var(--Secondary);

            &:hover {
                background-color: var(--Secondary);
                color: #fff;
            }
        }

        &.style-5 {
            &:hover {
                color: #fff;
                background-color: var(--Secondary);
            }
        }

    }

    .tf-product-info-view {
        svg path {
            fill: #fff;
        }
    }

    .tf-product-btn {
        border-color: #FFFFFF4D;
        background: #30303080;

        svg path {
            fill: #fff;
        }

        &:hover {
            border-color: var(--Main);
        }
    }

    .wg-quantity {
        background-color: #30303080;
    }

    .variant-picker-item {

        .variant-picker-values input:hover+label,
        .variant-picker-values input:checked+label {
            border-color: #FFFFFF4D;

            &.style-1::before {
                border-color: #0A0A0C;
            }
        }

        .variant-picker-values label {
            &.style-2 {
                border: 0;
                background-color: #30303080;

                * {
                    color: #fff !important;
                }
            }

            &.type-disable {
                * {
                    color: #C3C1CF;
                }

                &::before,
                &::after {
                    border-top-color: #DDDDDD;
                }
            }
        }

        .style-text {
            .text {
                color: #0A0A0C;
            }
        }

        input:checked+.style-text {
            .text {
                color: #fff !important;
            }
        }
    }

    .bg-color-gray {
        background-color: #C3C1CF;
    }

    .road-map .road-map-item:not(.active) {

        .icon,
        &::before {
            background-color: var(--Surface-3);
        }
    }
}

@media (max-width: 991px) {
    .dark-theme .layout-wrap.full-width .box-logo {
        background-color: #0A0A0C;
    }
}